<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>

<head>
	<title>Hielo by TEMPLATED</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="index.html">Hielo <span>by TEMPLATED</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="generic.html">Generic</a></li>
			<li><a href="elements.html">Elements</a></li>
		</ul>
	</nav>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>交通旅費試算器</p>
				<h2>行程排程</h2>
			</header>
		</div>
	</section>
	<!-- Three -->
	<section id="three" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<!--<div id="map" style=" width: 100%; height: 400px; background-color: grey;"></div>-->
					<h2 style="text-align:center;">行程排程</h2>
					<a id="addDay" class="button special">Add Day</a>
					<a id="deleteDay" class="button special" style="float:right;">Delete Day</a>
					<p>
						<h3 id="dayTag1">第1天</h3>
					</p>
					<div class="table-wrapper" id="test">
						<DayTemplete v-for="day in days" :key="day.id">
							<spottemplete></spottemplete>
						</DayTemplete>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Untitled. All rights reserved.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/jquery.geocomplete.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="assets/js/main.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


	<script>

		// JQuery Scripts 
		var counter = 2;
		var spotCounter = 2;



		$(document).ready(function () {


			Vue.component('spottemplete', {
				props: {
					spot: Object
				},
				data: function () {
					return {
						spots: [
							{
								id: 0,
								text: '大阪',
								toggle: true,
							},
							{
								id: 1,
								text: '東京車站',
								toggle: false,

							},
							{
								id: 2,
								text: '東京車站',
								toggle: true,

							}
						],
						mapaddress: function (index) {
							return 'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=' + this.spots[index].text + '&z=16&output=embed&t='
						}

					}
				},


				template: `
							<tbody>
								<tr v-for="(spot,index) in spots">
									<td><input v-model="spot.text" value="text" placeholder="Name" /><p>Message is: {{spot.text}}</p></td>
									<td><button-counter></button-counter></td>	
									<td>
										<a id="detail" class="button special" function="placeDetail" @click='spot.toggle = !spot.toggle'>detail</a>												
										<iframe width='100%' height='100%' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'  :src="mapaddress(index)" v-show='spot.toggle'></iframe>
									</td>
									<td><button-counter></button-counter></td>	
								</tr>
								<tr>
									<button-counter></button-counter>
									
								</tr>
							</tbody>
						`

			})

			Vue.component('daytemplete', {
				template: `
							<table id="table_id1" class="display" style="width:100%" function="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Place</th>
										<th>Price</th>
									</tr>
								</thead>
									<slot></slot>								
								
							</table>`
			})

			Vue.component('child', {
				props: ['place'],
				template: 'Message is: {{ place }}</p>'


			})


			Vue.component('button-counter', {
				data: function () {
					return {
						count: 0
					}
				},
				template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
			})


			var vm = new Vue({
				el: '#test',
				data: function () {
					return {
						dayId: 0,
						spotId: 0,
						days: [
							{
								id: 0
							},
						],
					}

				},

				method: {
					mapaddress: function (place) {
						return 'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q={{place}}&z=16&output=embed&t='
					},
				}
			})
		});
	</script>
	</body>
	
	</html>