<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title>Hielo by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Hielo <span>by TEMPLATED</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>交通旅費試算器</p>
						<h2>行程排程</h2>
					</header>
				</div>
			</section>
		<!-- Two -->
		
		
			
			
			
			
			
			

		<!-- Three -->
			<section id="three" class="wrapper style2" >
				<div class="inner" >
					<div class="box">
						<div class="content" >
						<!--<div id="map" style=" width: 100%; height: 400px; background-color: grey;"></div>-->
						<h2 style="text-align:center;">行程排程</h2>
								<a id="addDay" class="button special">Add Day</a>
								<a id="deleteDay" class="button special"style="float:right;">Delete Day</a>
								<p><h3 id="dayTag1">第1天</h3></p>								
								<div class="table-wrapper"  id ="test">
									<table id="table_id1" class="display" style="width:100%" function="table">
										<thead>
											<tr value='1'>
												<th>Name</th>
												<th>Description</th>
												<th>Place</th>
												<th>Price</th>												
											</tr>
										</thead>
										<tbody >		
												<th><input v-model="text" name="name" id="spot1" class="addSpot" value="text" placeholder="Name" />
												<p>Message is: {{ text }}</p></th>
												<th><input name="email"  class="addSpot" value="" placeholder="Email" /></th>	
												<th><a id="detail" class="button special" function="placeDetail" @click='toggle = !toggle'>detail</a>												
												<iframe width='100%' height='100%' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' :src="mapAddress" v-show='toggle'></iframe></th>
												<th>100</th>
												<!--<th><iframe width='100%' height='200' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=東京車站&z=16&output=embed&t='></iframe></th>-->		
																					
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3"></td>
												<td>100.00</td>
											</tr>
										</tfoot>
									</table>
									<a id="addSpot1" class="button special" value='1' function="addSpot">Add Spot</a>
									<a id="deleteSpot1" class="button special" style='float:right;' value='1' function='deleteSpot'>Delete Spot</a>
								</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/jquery.geocomplete.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
			<script src="assets/js/main.js"></script>
			<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
			
			
<script>

<!-- JQuery Scripts -->
var counter = 2;
var spotCounter = 2;
var t = $('#table_id1').DataTable();	

			
			$(document).ready( function () {
			
				//initMap();
			
				$('#table_id1').DataTable({
						"lengthChange": false,
						"ordering": false,
						"destroy": true,
						"select": true,
						"bFilter":false,
						"paging":false,
						"sDom": '<"top">rt<"bottom"flp><"clear">',
						 drawCallback: function (row, data, start, end, display) {
						 var api = this.api(), data;
						 
								var intVal = function ( i ) {
									return typeof i === 'string' ?
										i.replace(/[\$,]/g, '')*1 :
									typeof i === 'number' ?
										i : 0;
									};
								 total = api
									.column( 3 )
									.data()
									.reduce( function (a, b) {
									
										return intVal(a) + intVal(b);
									}, 0 );
	 
								// Total over this page
								pageTotal = api
									.column( 3, { page: 'current'} )
									.data()
									.reduce( function (a, b) {
										return intVal(a) + intVal(b);
									}, 0 );
					 
								// Update footer
								$( api.column( 3 ).footer() ).html(
									'$'+pageTotal +' ( $'+ total +' total)'
								);
							}
						});
				
		
 
			$('body').on( 'click',"[function*='addSpot']", function () {
				console.log('#table_id'+$(this).attr('value'))	
				t = $('#table_id'+$(this).attr('value')).DataTable({
						"lengthChange": false,
						"ordering": false,
						"destroy": true,
						"select": true,
						"bFilter":false,
						"paging":false,
						"sDom": '<"top">rt<"bottom"flp><"clear">',
						 drawCallback: function (row, data, start, end, display) {
						 var api = this.api(), data;
						 
								var intVal = function ( i ) {
									return typeof i === 'string' ?
										i.replace(/[\$,]/g, '')*1 :
									typeof i === 'number' ?
										i : 0;
									};
								 total = api
									.column( 3 )
									.data()
									.reduce( function (a, b) {
									
										return intVal(a) + intVal(b);
									}, 0 );
	 
								// Total over this page
								pageTotal = api
									.column( 3, { page: 'current'} )
									.data()
									.reduce( function (a, b) {
										return intVal(a) + intVal(b);
									}, 0 );
					 
								// Update footer
								$( api.column( 3 ).footer() ).html(
									'$'+pageTotal +' ( $'+ total +' total)'
								);
							}
						});						
				t.row.add( [
					'<input v-model="text" name="spot" id="spot'+spotCounter+'" class="addSpot" value="" placeholder="Name" /><p>Message is: {{ text }}</p>',
					'<input name="spot" id="email" class="addSpot" value="" placeholder="Email" />',
					'<a id="addSpot1" class="button special" value="1" function="placeDetail" @click="toggle = !toggle">detail</a><iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src="mapAddress" v-show="toggle"></iframe>',
					'100'
				 ]).draw( false );
				// autocomplete('spot'+spotCounter);
				
				//spotCounter++;
				
			} );
			
			$('body').on( 'dblclick', 'tr', function () {
			    console.log($(this).parent().parent().attr('id'))	
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					$(this).removeClass('selected');
					$(this).addClass('selected');
				}
			} );
			
			
		 
			$('body').on('click',"[function*='deleteSpot']", function () {
				console.log("123")
				t = $('#table_id'+$(this).attr('value')).DataTable();	
				t.row('.selected').remove().draw( false );
			} );
 
			$('#addDay').on('click', function(){

				var date='<p><h3 id="dayTag'+counter+'">第'+counter+'天</h3><p>';
				$('.table-wrapper').append(date);	
				var item = '<table id="table_id'+counter+'"class="display" style="width:100%" function="table"><thead><tr value='+counter+'><th>Name</th><th>Description</th><th>Price</th></tr></thead><tfoot><tr><td colspan="2"></td><td>100.00</td></tr></tfoot></table>';
				$('.table-wrapper').append(item);				
				
				item='<a id="addSpot'+counter+'" class="button special" value='+counter+' function="addSpot">Add Spot</a>';
				$('.table-wrapper').append(item);
					
				
				item='<a id="deleteSpot'+counter+'" class="button special" style="float:right;" value='+counter+' function="deleteSpot">Delete Spot</a>';
				$('.table-wrapper').append(item);	
				
				$('#table_id'+counter).DataTable({
						"lengthChange": false,
						"ordering": false,
						"destroy": true,
						"bFilter":false,
						"paging":false,
						"select": true,
						"sDom": '<"top">rt<"bottom"flp><"clear">',
						
						
				});
				counter++;

			});
			
			$('#deleteDay').click( function () {
				if(counter==2)
					return;
				counter--;
				$('#table_id'+counter).empty();
				$('#table_id'+counter).removeClass('dataTable');
				//$('#table_id'+counter).destroy;
				$('#table_id'+counter).remove();	
				$('#addSpot'+counter).remove();	
				$('#deleteSpot'+counter).remove();			
				$('#dayTag'+counter).remove();						
			} );

			<!--Map-->
			function initMap() {
			  // The location of Uluru
			
			  var uluru = {lat: -25.344, lng: 131.036};
			  // The map, centered at Uluru
			  var map = new google.maps.Map( document.getElementById('map'), {zoom: 4, center: uluru});
			  // The marker, positioned at Uluru
			  var marker = new google.maps.Marker({position: uluru, map: map});
			}
			
			
			function autocomplete(id){
			
			var input = document.getElementById(id);
			var autocomplete = new google.maps.places.Autocomplete(input);
			
			}
			
			
			var name = new Vue({
				el:'#table_id1',
				data:{
					text : '大阪',
					toggle: true
				
				},
				
				computed:{
				
					mapAddress: function(){
						return 'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q='+this.text+'&z=16&output=embed&t='
					}
				}			
				
				
								
			
			})
			
			
} );



		
</script>
	</body>
</html>